# Kaggle Bike Sharing Demand
[http://www.kaggle.com/c/bike-sharing-demand](http://www.kaggle.com/c/bike-sharing-demand)

- Bike_Sharing_Demand.csv (10,886 * 12)
   - datetime : Date + Timestamp
   - season : 1(봄), 2(여름), 3(가을), 4(겨울)
   - holiday : 1(토요일, 일요일을 제외한 공휴일), 0(휴일이 아닌 날)
   - workingday : 1(토요일, 일요일 및 휴일이 아닌 주중), 0(주말 및 휴일)
   - weather : 1(맑음, 약간흐림), 2(안개, 흐림), 3(가벼운 눈/비 + 천둥), 4(심한 눈/비, 천둥/ 번개)
   - temp : 온도(섭씨)
   - atemp : 체감온도(섭씨)
   - humidity : 습도
   - windspeed : 풍속
   - casual : 사전 등록되지 않은 사용자 대여 획수
   - registered : 사전 등록된 사용자 대여 횟수
   - count : 총 대여 횟수 -> y

# Data Load
   - 'Bike_Sharing_Demand.csv' Github에서 읽어오기

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/rusita-ai/pyData/master/Bike_Sharing_Demand.csv'
df = pd.read_csv(url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [2]:
df.head()

              datetime  season  holiday  ...  casual  registered  count
0  2011-01-01 00:00:00       1        0  ...       3          13     16
1  2011-01-01 01:00:00       1        0  ...       8          32     40
2  2011-01-01 02:00:00       1        0  ...       5          27     32
3  2011-01-01 03:00:00       1        0  ...       3          10     13
4  2011-01-01 04:00:00       1        0  ...       0           1      1

[5 rows x 12 columns]

# 1. Data Preprocessing

> ## 1) 'String' -> 'Date'

- 'year', 'month', 'day', 'hour' 추출

In [4]:
df['datetime'] = df.datetime.apply(pd.to_datetime)
df['year'] = df.datetime.apply(lambda x : x.year)
df['month'] = df.datetime.apply(lambda x : x.month)
df['day'] = df.datetime.apply(lambda x : x.day)
df['hour'] = df.datetime.apply(lambda x : x.hour)

> ## 2) Drop Columns

- 'datetime', 'casual', 'registered'

In [5]:
drop_columns = ['datetime', 'casual', 'registered']
df.drop(drop_columns, axis = 1, inplace = True)

In [6]:
df.head()

   season  holiday  workingday  weather  temp  ...  count  year  month  day  hour
0       1        0           0        1  9.84  ...     16  2011      1    1     0
1       1        0           0        1  9.02  ...     40  2011      1    1     1
2       1        0           0        1  9.02  ...     32  2011      1    1     2
3       1        0           0        1  9.84  ...     13  2011      1    1     3
4       1        0           0        1  9.84  ...      1  2011      1    1     4

[5 rows x 13 columns]

In [7]:
df.tail()

       season  holiday  workingday  weather  ...  year  month  day  hour
10881       4        0           1        1  ...  2012     12   19    19
10882       4        0           1        1  ...  2012     12   19    20
10883       4        0           1        1  ...  2012     12   19    21
10884       4        0           1        1  ...  2012     12   19    22
10885       4        0           1        1  ...  2012     12   19    23

[5 rows x 13 columns]